body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

p {
    margin: 0;
    padding: auto;
}

a {
    text-decoration: none;
    color: blue;
}

header {
    background-color: #800080;
    padding: 20px;
    height: 10vh;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 50px;
}

nav a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

#about {
    height: 90vh;
    background: linear-gradient(#800080, #000);
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

section {
    height: 100vh;
    border-bottom: 2px solid white;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 2em;
}

.animated-text {
    height: 200px;
    width: max-content;
    text-align: center;
}

.button {
    position: absolute;
    border: 2px solid white;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 2em;
    border-radius: 5px;
    opacity: .5;
    margin: 100px auto;
    transition: .3s;
    left: 43%;
}

.button:hover {
    border: 2px solid #104F55;
    background-color: rgba(365, 365, 365, 0.5);
    cursor: pointer;
    color: #104F55;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
}


#projects {
    height: 90vh;
}

.section-title{
    width: 100%;

}

.project {
    border: #fff solid 2px;
    padding: 10px;
}

.projectImg {
    height: 50%;
    width: 50%;
}

.projectTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 2em;
}

.projectDescription {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 1em;
}



footer {
    height: 10vh;
}